<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
    <display-name>AudaciousTux - portfolio</display-name>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>

    <filter>
        <filter-name>ReqLogFilter</filter-name>
        <filter-class>com.audacioustux.filter.ReqLogFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ReqLogFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AuthenticateFilter</filter-name>
        <filter-class>com.audacioustux.filter.AuthenticateFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticateFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AllowIfLoggedFilter</filter-name>
        <filter-class>com.audacioustux.filter.AllowIfLoggedFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DisallowIfLoggedFilter</filter-name>
        <filter-class>com.audacioustux.filter.DisallowIfLoggedFilter</filter-class>
    </filter>

    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>com.audacioustux.controller.RegistrationController</servlet-class>
    </servlet>
    <filter-mapping>
        <filter-name>DisallowIfLoggedFilter</filter-name>
        <url-pattern>/register</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.audacioustux.controller.LoginController</servlet-class>
    </servlet>
    <filter-mapping>
        <filter-name>DisallowIfLoggedFilter</filter-name>
        <url-pattern>/login</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.audacioustux.controller.LogoutController</servlet-class>
    </servlet>
    <filter-mapping>
        <filter-name>AllowIfLoggedFilter</filter-name>
        <url-pattern>/logout</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BlogsController</servlet-name>
        <servlet-class>com.audacioustux.controller.BlogsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlogsController</servlet-name>
        <url-pattern>/blogs</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BlogNewController</servlet-name>
        <servlet-class>com.audacioustux.controller.BlogNewController</servlet-class>
    </servlet>
    <filter-mapping>
        <filter-name>AllowIfLoggedFilter</filter-name>
        <url-pattern>/blogs/new</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>BlogNewController</servlet-name>
        <url-pattern>/blogs/new</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BlogController</servlet-name>
        <servlet-class>com.audacioustux.controller.BlogController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlogController</servlet-name>
        <url-pattern>/blog/*</url-pattern>
    </servlet-mapping>
</web-app>
